page-cadastro {

    .backVermelho {
        background-color: rgb(165, 22, 22);
        color: white;
    }

    #backAmarelo {
        background-color: rgb(225, 240, 14);
        color: white;
    }
}
