<ion-header>

  <ion-navbar color="dark">
    <ion-title>Cadastro Dados Pessoais</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="form" novalidate>
        <ion-list>

          <ion-list radio-group>
              <ion-item>
                  <ion-label>Vendedor?</ion-label>
                  <ion-toggle (ionChange)="isVendedor = !isVendedor; createForm()"></ion-toggle>
              </ion-item>

          </ion-list>
              
                <ion-item>
                    <ion-label floating>Nome Completo:</ion-label>
                    <ion-input type="text" formControlName="nomeCompleto"></ion-input>
                </ion-item>
                <ion-item class="backVermelho" *ngIf="!form.controls.nomeCompleto.valid && (form.controls.nomeCompleto.dirty || form.controls.nomeCompleto.touched)">
                        
                        <div [hidden]="!form.controls.nomeCompleto.errors.required">
                          O campo é obrigatório
                        </div>
            
                        <div [hidden]="form.controls.nomeCompleto.errors.minLength || form.controls.nomeCompleto.errors.maxLength">
                          Digite entre 3 a 40 caracteres no máximo.
                        </div>
                </ion-item>
       
          <div *ngIf="isVendedor == true">
            <ion-item>
              <ion-label floating>Celular  <ion-icon name="phone-portrait"></ion-icon> </ion-label>
                <ion-input type="number" formControlName="celular" ></ion-input>
            </ion-item>
            <ion-item class="backVermelho" *ngIf="!form.controls.celular.valid && (form.controls.celular.dirty || form.controls.celular.touched) && isVendedor == true">
                    <div [hidden]="!form.controls.celular.errors.pattern ">
                      Somente números
                    </div>
                    
                    <div [hidden]="!form.controls.celular.errors.required ">
                      O campo é obrigatório
                    </div>
        
                    <div [hidden]="form.controls.celular.errors.minLength || form.controls.celular.errors.maxLength ">
                      Preencha com ddd + telefone. Mínimo 10 dígitos.
                    </div>
            </ion-item>

            <ion-item>
              <ion-label floating>Celular (Opcional)  <ion-icon name="phone-portrait"></ion-icon> </ion-label>
              <ion-input type="number" formControlName="celular2"></ion-input>
            </ion-item>
            <ion-item class="backVermelho" *ngIf="!form.controls.celular2.valid && (form.controls.celular2.dirty || form.controls.celular2.touched) && isVendedor == true">
                    <div [hidden]="!form.controls.celular2.errors.pattern">
                      Somente números
                    </div>
                    
                    <div [hidden]="form.controls.celular2.errors.minLength || form.controls.celular2.errors.maxLength">
                      Preencha com ddd + telefone. Mínimo 10 dígitos.
                    </div>
            </ion-item>
          </div>

        <ion-item>
                <ion-label floating>E-mail:</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="backVermelho" *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)">
               
                <div [hidden]="!form.controls.email.errors.required">
                  O campo é obrigatório
                </div>
        </ion-item>

        <ion-item>
                <ion-label floating>Senha:</ion-label>
                <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
        <ion-item class="backVermelho" *ngIf="!form.controls.senha.valid && (form.controls.senha.dirty || form.controls.senha.touched)">
              
                <div [hidden]="!form.controls.senha.errors.required">
                  O campo é obrigatório
                </div>
    
                <div [hidden]="form.controls.senha.errors.minLength || form.controls.senha.errors.maxLength">
                  Preencha entre 5 a 15 caracteres no máximo
                </div>
        </ion-item>

        <ion-item>
            <button ion-button block small type="submit" [disabled]="!form.valid" (click)="criarConta()">Criar conta</button>
        </ion-item>
    </ion-list>   
    </form>
</ion-content>
