<ion-header>
  <ion-navbar color="dark">
    <ion-title>Mensagens</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-sliding *ngFor="let msg of messages">
    <ion-item>
      <h2>{{msg.nome}}</h2>
      <p style="font-size: 12px">
        <strong>{{msg.nomeChat}}:</strong>&nbsp;
        {{msg.mensagem}}
      </p>
      <div item-end>
        <ion-icon name="ios-chatboxes" (click)="pageChat(msg)"></ion-icon><br />
        <strong style="font-size: 8px">{{msg.data | date:'short'}}</strong>

      </div>
          
    </ion-item>
  </ion-item-sliding>
</ion-content>
