<ion-header>
  <ion-navbar color="dark">
    <ion-title>Recuperar Conta</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="form" novalidate>
        <ion-list>
      
            <ion-item>
                <ion-label stacked>E-mail:</ion-label>
                <ion-input type="email"  formControlName="email" email required></ion-input>
            </ion-item>

            <ion-item class="backVermelho" *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)">
                     
                <div [hidden]="!form.controls.email.errors.required">
                  O campo é obrigatório
                </div>
                <div [hidden]="form.controls.email.errors.minLength">
                    Preencha 5 caracteres no mínimo
                  </div>
            </ion-item>

            <ion-item>
                <button ion-button block [disabled]="!form.valid" (click)="recuperarConta()">Recuperar</button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
