<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle icon-only style="float: left">
          <ion-icon name='menu'></ion-icon>
        </button>
    <ion-title>
      Vendas App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   
  <form [formGroup]="form" novalidate>
  <ion-list>

      <ion-item>
          <ion-label stacked>E-mail:</ion-label>
          <ion-input type="email" value="francescfrabegas@gmail.com" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="backVermelho" *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)">
               
          <div [hidden]="!form.controls.email.errors.required">
            O campo é obrigatório
          </div>
      </ion-item>

        <ion-item>
          <ion-label stacked>Senha:</ion-label>
          <ion-input type="password" value="redhot22" formControlName="senha"></ion-input>
        </ion-item>
        <ion-item class="backVermelho" *ngIf="!form.controls.senha.valid && (form.controls.senha.dirty || form.controls.senha.touched)">
              
            <div [hidden]="!form.controls.senha.errors.required">
              O campo é obrigatório
            </div>

            <div [hidden]="form.controls.senha.errors.minLength || form.controls.senha.errors.maxLength">
              Preencha entre 5 a 15 caracteres no máximo
            </div>
        </ion-item>

        <ion-item>
            <button ion-button block [disabled]="!form.valid" (click)="logar()" >Entrar</button>
        </ion-item>

    
        <hr />

    <ion-item>
      <button ion-button block color="dark" round (click)='pageCadastro()'>Cadastrar &nbsp; &nbsp;
          <ion-icon name="person"></ion-icon>
      </button>
      &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Ou
        <button ion-button block color="danger" round outline (click)='recuperarContaPage()'>Recuperar conta &nbsp; &nbsp;
            <ion-icon name="person"></ion-icon>
        </button>
    </ion-item>

  </ion-list>
  </form>
</ion-content>
