<ion-header>
  <ion-toolbar color="dark">
      
    <ion-title>Localização do {{usuarioVendedor.pessoa.nomeCompleto}} </ion-title>
    <ion-buttons start>
      <button ion-button color="secondary" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!--
    <ion-item>
        <ion-thumbnail item-start *ngIf="usuarioVendedor.vendedor.imagem">
            <img  [src]="usuarioVendedor.vendedor.imagem?.url">
          </ion-thumbnail>
          <ion-thumbnail item-start *ngIf="!usuarioVendedor.vendedor.imagem">
            <img  src="http://www.hrzone.com/sites/all/themes/pp/img/default-user.png">
          </ion-thumbnail>
      <h2>{{usuarioVendedor.vendedor.pessoa.nomeCompleto}}</h2>
      <p><strong>Contato:</strong></p>
      <button ion-button small (click)="ligarCelular(usuarioVendedor.vendedor.contato?.celular)"><ion-icon name="phone-portrait"></ion-icon></button>
      <button ion-button small color="secondary" *ngIf="usuarioVendedor.vendedor.contato?.celular2" (click)="ligarCelularOpcional(usuarioVendedor.vendedor.contato?.celular2)"><ion-icon name="phone-portrait"></ion-icon></button>
      <h2>Bairro: {{usuarioVendedor.vendedor.localizacao?.bairro}}</h2>
      <p><strong>Endereço:</strong></p>
      {{usuarioVendedor.vendedor.localizacao.enderecoCompleto}}
      <h3>Distância: <strong>{{usuarioVendedor.distanceText}}</strong></h3>   
    </ion-item>
  -->
  </ion-list>
 


  
</ion-content>
