page-cadastro-venda {
    .backVermelho {
        background-color: rgb(165, 22, 22);
        color: white;
    }
    
    .block {
        position: relaive;
        .deleteIcon {
            position: relative !important;
            color: rgb(250, 59, 11) !important;
            margin-left: -35% !important;
            margin-top: -20% !important;
        }
        .deleteIcon:before {
            font-size: 30px !important;
        }
        
    }

    .img {    
        width: 100%;
        height: 100%;
    }

    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
        height: 100px;
        width: 100px;
        }
    }
}
