<ion-header>
  <ion-navbar color="dark">
    <ion-title>Cadastrar/Atualizar Venda</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" novalidate>
    <ion-list>
       
        <ion-item>
          <ion-label floating>Titulo:</ion-label>
          <ion-input type="text" formControlName="titulo"></ion-input>
        </ion-item>
        <ion-item class="backVermelho" *ngIf="!form.controls.titulo.valid && (form.controls.titulo.dirty || form.controls.titulo.touched)">       
            <div [hidden]="!form.controls.titulo.errors.required">
              O campo é obrigatório
            </div>
            <div [hidden]="form.controls.titulo.errors.minLength || form.controls.titulo.errors.maxLength">
              Digite entre 3 a 35 caracteres no máximo.
            </div>
        </ion-item>

        <ion-item>
            <ion-label floating>Descrição:</ion-label>
            <ion-textarea type="text" rows="4" formControlName="descricao"></ion-textarea>
        </ion-item>
        <ion-item class="backVermelho" *ngIf="!form.controls.descricao.valid && (form.controls.descricao.dirty || form.controls.descricao.touched)">
                
                <div [hidden]="!form.controls.descricao.errors.required">
                  O campo é obrigatório
                </div>
    
                <div [hidden]="form.controls.descricao.errors.minLength || form.controls.descricao.errors.maxLength">
                  Digite entre 10 a 200 caracteres no máximo.
                </div>
        </ion-item>
        <ion-item>
          
          <button ion-button small [disabled]="results.length >= 3" (click)="pegarPhotosGallery()">
            <ion-icon name="camera"></ion-icon> &nbsp;
          </button>
        </ion-item>
        
        <ion-slides [pager]="true" *ngIf="results.length > 0" style="height: 200px">
          <ion-slide *ngFor="let result of results">
            <div class="block">
              <img [src]="result.url" class="img"  (click)="deletePhoto(result)"/>
              <button color="danger" ion-button outline class="deleteIcon"><ion-icon name="trash"></ion-icon></button>
            </div>
          </ion-slide>
        </ion-slides>
     
    
        <!--
        <ion-scroll scrollX style="height:150px;" *ngIf="results.length > 0">
            <div class="scroll-item">
              <ion-col class="block" col-2 *ngFor="let result of results">
                  <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(result)"></ion-icon>
                  <img [src]="result.url" imageViewer />
              </ion-col>
            </div>
        </ion-scroll>
      -->
      <!--
        <ion-item>
            <ion-label floating>Palavra-Chave:</ion-label>
            <ion-input type="text" [(ngModel)]="palavra" name="plChave" [ngModelOptions]="{standalone: true}" ></ion-input>
            <button item-end ion-button small  [disabled]="plChaves?.length > 3" (click)="adicionarPalavra()"><ion-icon name="add"></ion-icon></button>
        </ion-item>
        <ion-item *ngFor="let p of plChaves; let id = index">
            <ion-label fixed>{{p}}</ion-label>
            <button item-end ion-button small color="danger" (click)="deletarPalavra(id)"><ion-icon name="trash"></ion-icon></button>
        </ion-item>
      -->
        <ion-item>
            <button ion-button block small type="submit" [disabled]="!form.valid" (click)="salvar()">Salvar Dados</button>
        </ion-item>
        
    </ion-list>
  </form>    
</ion-content>
