
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Lista de Favoritos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!--
<ion-list>
        <ion-item-divider color="primary" *ngIf="favoritos?.length > 0">
                Online
        </ion-item-divider>
    <ion-item-sliding *ngFor="let favorito of favoritos">
        <ion-item>
            <ion-avatar item-start>
                <img *ngIf="favorito.imagem" [src]="favorito.imagem.url">
                <img *ngIf="!favorito.imagem" src="https://firebasestorage.googleapis.com/v0/b/meuprojeto-cde05.appspot.com/o/user.png?alt=media&token=8e00fe7b-8383-47a8-8a94-8e09dc476c85">
            </ion-avatar>
            <h2>{{favorito.pessoa.nomeCompleto}}</h2>
            <p>
                
                  <strong *ngIf="favorito.online == true && favorito.localizacao">
                    Localização: 
                    {{favorito.localizacao.enderecoCompleto}} - {{favorito.localizacao.bairro}} - {{favorito.localizacao.cidade}}
                </strong> <br />
                <strong *ngIf="favorito.online == true && favorito.localizacao">Distância: {{favorito.distanceText}}</strong>
            </p>
          </ion-item>
          
          <ion-item-options side="left">
              <button ion-button item-end color="danger" small (click)="alertRemoverFavorito(favorito)"><ion-icon name="trash"></ion-icon> Remover</button>
          </ion-item-options>

          <ion-item-options>
              <button ion-button color="verde" small (click)="modalVenda(favorito)"><ion-icon name="md-cash"></ion-icon> Venda</button>
              <button ion-button [disabled]="favorito.online == false" color="azul" small (click)="openLaunchNatigator(favorito)"><ion-icon name="ios-navigate"></ion-icon> Navegar</button>
              <button ion-button small color="light" (click)="openOpcoesFavorito(favorito)">
                  <ion-icon name="ios-options"></ion-icon> Opções
              </button>
          </ion-item-options>

      </ion-item-sliding>
      
      <ion-item-divider color="danger" *ngIf="favoritosOff?.length > 0">
       Offline
      </ion-item-divider>

      <ion-item-sliding *ngFor="let favorito of favoritosOff">
        <ion-item>
            <ion-avatar item-start>
                <img *ngIf="favorito.imagem"  [src]="favorito.imagem.url">
                <img *ngIf="!favorito.imagem" src="https://firebasestorage.googleapis.com/v0/b/meuprojeto-cde05.appspot.com/o/user.png?alt=media&token=8e00fe7b-8383-47a8-8a94-8e09dc476c85">
            </ion-avatar>
            <h2>{{favorito.pessoa.nomeCompleto}}</h2>
            
          </ion-item>
          
          <ion-item-options side="left">
              <button ion-button item-end color="danger" small (click)="alertRemoverFavorito(favorito)"><ion-icon name="trash"></ion-icon> Remover</button>
          </ion-item-options>

          <ion-item-options>
              <button ion-button color="verde" small (click)="modalVenda(favorito)"><ion-icon name="md-cash"></ion-icon> Venda</button>
              <button ion-button [disabled]="favorito.online == false" color="azul" small><ion-icon name="ios-navigate"></ion-icon> Navegar</button>
              <button ion-button small color="light" (click)="openOpcoesFavorito(favorito)">
                  <ion-icon name="ios-options"></ion-icon> Opções
              </button>
          </ion-item-options>

      </ion-item-sliding>
</ion-list>
-->

<ion-item-divider color="primary" *ngIf="favoritos?.length > 0">
        Online
</ion-item-divider>
<ion-list [virtualScroll]="favoritos">
        <ion-item-sliding *virtualItem="let favorito">
                <ion-item>
                        <ion-avatar item-start>
                            <img *ngIf="favorito.imagem" [src]="favorito.imagem.url">
                            <img *ngIf="!favorito.imagem" src="https://firebasestorage.googleapis.com/v0/b/meuprojeto-cde05.appspot.com/o/user.png?alt=media&token=8e00fe7b-8383-47a8-8a94-8e09dc476c85">
                        </ion-avatar>
                        <h2>{{favorito.pessoa.nomeCompleto}}</h2>
                        <p>
                            
                              <strong *ngIf="favorito.online == true && favorito.localizacao">
                                Localização: 
                                {{favorito.localizacao.enderecoCompleto}} - {{favorito.localizacao.bairro}} - {{favorito.localizacao.cidade}}
                            </strong> <br />
                            <strong *ngIf="favorito.online == true && favorito.localizacao">Distância: {{favorito.distanceText}}</strong>
                        </p>
                      </ion-item>
                      
                      <ion-item-options side="left">
                          <button ion-button item-end color="danger" small (click)="alertRemoverFavorito(favorito)"><ion-icon name="trash"></ion-icon> Remover</button>
                      </ion-item-options>
            
                      <ion-item-options>
                          <button ion-button color="verde" small (click)="modalVenda(favorito)"><ion-icon name="md-cash"></ion-icon> Venda</button>
                          <button ion-button [disabled]="favorito.online == false" color="azul" small (click)="openLaunchNatigator(favorito)"><ion-icon name="ios-navigate"></ion-icon> Navegar</button>
                          <button ion-button small color="light" (click)="openOpcoesFavorito(favorito)">
                              <ion-icon name="ios-options"></ion-icon> Opções
                          </button>
                      </ion-item-options>
        </ion-item-sliding>
      
      </ion-list>
    <ion-item-divider color="danger" *ngIf="favoritosOff?.length > 0">
              Offline
    </ion-item-divider>

<ion-list [virtualScroll]="favoritosOff">
               <ion-item-sliding *virtualItem="let favorito">
                 <ion-item>
                     <ion-avatar item-start>
                         <img *ngIf="favorito.imagem"  [src]="favorito.imagem.url">
                         <img *ngIf="!favorito.imagem" src="https://firebasestorage.googleapis.com/v0/b/meuprojeto-cde05.appspot.com/o/user.png?alt=media&token=8e00fe7b-8383-47a8-8a94-8e09dc476c85">
                     </ion-avatar>
                     <h2>{{favorito.pessoa.nomeCompleto}}</h2>
                     
                   </ion-item>
                   
                   <ion-item-options side="left">
                       <button ion-button item-end color="danger" small (click)="alertRemoverFavorito(favorito)"><ion-icon name="trash"></ion-icon> Remover</button>
                   </ion-item-options>
         
                   <ion-item-options>
                       <button ion-button color="verde" small (click)="modalVenda(favorito)"><ion-icon name="md-cash"></ion-icon> Venda</button>
                       <button ion-button [disabled]="favorito.online == false" color="azul" small><ion-icon name="ios-navigate"></ion-icon> Navegar</button>
                       <button ion-button small color="light" (click)="openOpcoesFavorito(favorito)">
                           <ion-icon name="ios-options"></ion-icon> Opções
                       </button>
                   </ion-item-options>
         
               </ion-item-sliding>
</ion-list>

</ion-content>
