page-list-favoritos {

    .deleteIcon {
        position: absolute !important;
        color: rgb(255, 255, 255) !important;
        
        margin-left: 45px !important;
        margin-top: -30px !important;
    }
    .deleteIcon:before {
        font-size: 30px !important;
    }

    .vendaClass {
        position: absolute !important;
       
        margin-left: 45px !important;
        margin-top: -28px !important;
    
    }
}
