<ion-header>
    <ion-navbar color="dark">
      <ion-title>
        Chat com {{nome}}
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="exit"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let message of messages" no-lines>
       
          <div class="chat-message" text-right *ngIf="nome !== message.nome ">
            <div class="right-bubble">
              <span class="msg-name">Você</span>
              <span class="msg-date">{{message.dataMessage | date:'short'}}</span>
              <p text-wrap>{{message.mensagem}}</p>
            </div>
          </div>
          <div class="chat-message" text-left *ngIf="nome === message.nome ">
            <div class="left-bubble">
              <span class="msg-name">{{message.nome}}</span>
              <span class="msg-date">{{message.dataMessage | date:'short'}}</span>
              <p text-wrap>{{message.mensagem}}</p>
            </div>
          </div>
        
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-input type="text" placeholder="Escreva algo.." [(ngModel)]="messageChat" name="message"></ion-input>
        </ion-col>
        <ion-col col-2 >
            <button outline ion-button icon-only (click)="enviarMessagem()"  [disabled]="messageChat.length == 0">
                <ion-icon name="paper-plane" ></ion-icon>
              </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>