
<ion-header>
    <ion-toolbar color="dark">
    
        <ion-title>
            Inf. Venda do {{vendedor.vendedor.pessoa.nomeCompleto}}
        </ion-title>
                <ion-buttons end>     
                    <button ion-button small outline (click)="dismiss()">
                       Fechar
                    </button>
                </ion-buttons>

    </ion-toolbar>
  </ion-header>


<ion-content padding>
  <ion-list>
      <ion-slides [pager]="true" *ngIf="results.length > 0" style="height:170px">
          <ion-slide *ngFor="let result of results">
            <img [src]="result.url" imageViewer />
          </ion-slide>
      </ion-slides>

          <ion-item>
              <ion-label stacked>Descrição:</ion-label><br />
              <ion-label style="font-size: 14px">{{vendedor.vendedor.venda?.descricao}}</ion-label>
          </ion-item>
      
      <ion-item>
            <ion-label stacked>Contato(s):</ion-label><br />
            <ion-label (click)="ligarCelular(vendedor.vendedor.contato?.celular)"> <ion-icon name="md-call"></ion-icon> {{vendedor.vendedor.contato?.celular}}</ion-label>
            <ion-label *ngIf="vendedor.vendedor.contato?.celular2" (click)="ligarCelularOpcional(vendedor.vendedor.contato?.celular2)"> <ion-icon name="md-call"></ion-icon> {{vendedor.vendedor.contato?.celular2}}</ion-label>
      </ion-item>
      
      <ion-item>
            <ion-label stacked>Localização:</ion-label><br />
            
            <ion-label (click)="openLaunchNatigator(vendedor.vendedor.localizacao)">{{vendedor.vendedor.localizacao.enderecoCompleto}} - {{vendedor.vendedor.localizacao.bairro}} - {{vendedor.vendedor.localizacao.cidade}} &nbsp; <ion-icon name="ios-navigate"></ion-icon></ion-label>
            
      </ion-item>

  </ion-list>
</ion-content>

<!--

    <ion-footer no-border>
            <ion-toolbar color="dark">
              <ion-title>I'm a footer</ion-title>
            </ion-toolbar>
    
    </ion-footer>
-->