page-informacoes-venda {

    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
        height: 100px;
        width: 100px;
        }
    }
    .alinhar-esq {
        
        margin-left: -120px;
        
    }
    .alinhar-dir {
        
        margin-right: -70px;
    }
    #label-esq {

    }
    #label-dir {
        margin-right: -120px;
    }

    .item-avatar {
        width: 10% !important;  
        height : 10% !important; 
    }
}
