<ion-header>
  <ion-toolbar color="dark">
    <ion-title>  
      Opções do {{favorito.pessoa.nomeCompleto}}
    </ion-title>
    <ion-buttons start>
      <button ion-button color="azul" (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android,ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <h1>Notificações</h1>
    <ion-item class="alinhar">
      <ion-thumbnail item-start>
        <img *ngIf="favorito.imagem" [src]="favorito.imagem.url">
        <img *ngIf="!favorito.imagem" src="https://firebasestorage.googleapis.com/v0/b/meuprojeto-cde05.appspot.com/o/user.png?alt=media&token=8e00fe7b-8383-47a8-8a94-8e09dc476c85">
      </ion-thumbnail>
    </ion-item>

    <ion-item>
      <ion-label>Avisar-me quando estiver online</ion-label>
      <ion-checkbox  (ionChange)="changeNotificarOnline(favorito.dados)" [checked]="favorito.dados.hasOnline == true"></ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-label>Avisar-me quando estiver perto</ion-label>
      <ion-checkbox (ionChange)="changeNotificarPerto(favorito.dados)" [checked]="favorito.dados.hasPerto == true" ></ion-checkbox>
    </ion-item>
  
  </ion-list>
</ion-content>
