page-editar-dados {
    
    .backVermelho {
        background-color: rgb(165, 22, 22);
        color: white;
    }

    .block {
        position: relative;
        .deleteIcon {
            position: absolute !important;
            color: rgb(209, 14, 14) !important;
            margin-left: 80% !important;
        }
        .deleteIcon:before {
            font-size: 30px !important;
        }
    }
}
