<ion-header>

  <ion-navbar color="dark">
      <button ion-button menuToggle icon-only style="float: left">
          <ion-icon name='menu'></ion-icon>
        </button>
    <ion-title>Tela Inicial</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-menu [content]="content">
    <ion-header >
      <ion-toolbar color="dark">
       
          <ion-title>Menu</ion-title>
        
        
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list style="text-decoration: none; color:black; font-size: 14px bold;">
       
          <ion-item>
            <a (click)="pageEditDados()">Editar meus dados</a> 
          </ion-item>
        <ion-item *ngIf="isVendedor == true">
            <a  (click)="pageCadastrarVenda()">Cadastrar/Atualizar minha Venda</a> 
        </ion-item>

        <ion-item>
          <a  (click)="pageMessages()">Mensagens</a> 
        </ion-item>

        <ion-item *ngIf="isVendedor == false" >
            <button clear ion-button [disabled]="isFavoritos == 0" (click)="pageListFavoritos()">Lista de favoritos</button> 
        </ion-item>
        <ion-item >
           <a (click)="deslogar()"> Sair da conta</a>
        </ion-item>  
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav id="nav" #content ></ion-nav>
  <!--
    <ion-item *ngIf="isVendedor == true">
     <button ion-button color="azul" small (click)="ionViewDidEnter()"><ion-icon name="md-compass"></ion-icon> &nbsp; Atualizar Localização</button>
   </ion-item>
    
  -->
  
   <ion-searchbar [(ngModel)]="palavra" *ngIf="usuariosOnline?.length > 0 || isVendedor == false"  [autocomplete]="on" [cancelButtonText]="Limpar" [debounce]="300" [showCancelButton]="true" placeholder="Procure por nome vendedor, titulos, bairros, endereço da sua cidade" [autocomplete]="on"  (ionInput)="getItems($event)"></ion-searchbar>
  <div *ngIf="usuariosOnline?.length > 0 || isVendedor == false ">
  <ion-list>
      
      <ion-list-header>Vendedores Próximos:</ion-list-header>
        <ion-item *ngIf="hasPalavra == false">
          <ion-label>Nada encontrado sobre <strong>"{{palavra}}"</strong></ion-label>
        </ion-item>
        <ion-item-sliding *ngFor="let vendedor of usuariosOnline | orderBy: order; let id = index">
          
          <ion-item >
            <ion-thumbnail item-start>
              <img  [src]="vendedor.vendedor.imagem?.url" class="fundoFavorito ? vendedor.hasFav == true"  *ngIf="vendedor.vendedor.imagem">
              <img class="fundoFavorito ? vendedor.hasFav == true" src="https://firebasestorage.googleapis.com/v0/b/meuprojeto-cde05.appspot.com/o/user.png?alt=media&token=8e00fe7b-8383-47a8-8a94-8e09dc476c85" *ngIf="!vendedor.vendedor.imagem">
            </ion-thumbnail>
            <h2><strong>{{vendedor.vendedor.venda?.titulo}}</strong></h2>
            
            <p>
                Nome: {{vendedor.vendedor.pessoa?.nomeCompleto}}<br/>
                Bairro: {{vendedor.vendedor.endereco?.bairro}}<br/>
                Endereço: {{vendedor.vendedor.endereco?.endereco}}<br/>
                Distância: <strong>{{vendedor.distanceText}}</strong>
            </p>

          </ion-item>

            <ion-item-options side="left">
              <button ion-button color="secondary" *ngIf="vendedor.hasFav == false" small (click)="adicionarListFavoritos(vendedor)"><ion-icon name="person-add"></ion-icon> Adicionar</button>
              <button ion-button color="danger" *ngIf="vendedor.hasFav == true" small (click)="removerListFavoritos(vendedor)"><ion-icon name="trash"></ion-icon> Remover</button>
            </ion-item-options>

            

            <ion-item-options side="right">
              <button ion-button color="verde" (click)="modalVenda(vendedor)" small><ion-icon name="md-cash"></ion-icon> Venda</button>
              <button ion-button small (click)="openLaunchNatigator(vendedor.vendedor)"> <ion-icon name="ios-navigate"></ion-icon> Navegar</button>
              <button ion-button color="azul" small (click)="messageToVendedor(vendedor)"><ion-icon name="md-chatboxes"></ion-icon> Mensagem</button>
            </ion-item-options>

        </ion-item-sliding>

      
         
  </ion-list>
  </div>

  <div id="map" #map *ngIf="isVendedor == true">

  </div>

  <ion-item *ngIf="compradorView != undefined && isVendedor == true">
    {{vendedorView}}
      <p>
          Nome: {{compradorView.vendedor.pessoa?.nomeCompleto}}<br/>
          Bairro: {{compradorView.vendedor.endereco?.bairro}}<br/>
          Endereço: {{compradorView.vendedor.endereco?.endereco}}<br/>
          Distância: <strong>{{compradorView.distanceText}}</strong>
      </p>
      <button ion-button small (click)="messageToComprador()"><ion-icon name="md-send"></ion-icon> Enviar Mensagem</button>  
  </ion-item>
  
</ion-content>
