page-inicial-usuario {

    .alinhar {
        .label-status {
            margin-left: 10%;
           
        }       
    }

    #map {
        height: 60%;
        border: 2px solid black;
    }

    ion-row { width:100%; height:33%; }

    .fundoFavorito {
        background-color: rgba(24, 26, 24, 0.692);
    }
}
